# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
*.orig
*.rej
*~
*.o
*.pyc
*.pyo
*.pyb
*.pyd
*.log
*.mo
*.so
.vscode

Anaconda3-2019.03-Linux-x86_64.sh
bin/settings.sh
migrations/
__pycache__/

node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
